@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}

/* tailwind global shorten classes */

.transition-smooth {
  @apply transition duration-200 ease-in-out;
}

.box-shadow {
  @apply shadow-md hover:shadow-xl transition-smooth
}

/* product card - add to basket hover effect */

.basket-container:hover .basket-icon {
  background-color: #ea580d; /* bg-orange-600 */
}

/* colors similar to orange-600

yellow-300
red-500

green-500
sky-400

*/

/* rotate for elements in sidemenu */

.rotate-90 {
  transform: rotate(90deg);
}

/* checkbox/radio inputs color */

#checkbox {
  accent-color: #ea580d;
}

input[type=radio] {
  accent-color: #ea580d;
}

/* price slide */

.custom-track {
  background: linear-gradient(90deg, #ffc107, #fd7e14 );
  border-radius: 3px;
  height: 100%;
}




