@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(241, 245, 241);
}

/* tailwind shorten classes */

.transition-smooth {
  @apply transition duration-200 ease-in-out;
}

/* Basket dropdown menu */

.basket:hover .description {
  pointer-events: auto;
  opacity: 1;
}





